[Unit]
Description=Hello World Text Console
Requires=systemux.service
After=systemux.target systemux.service

[Service]
Type=idle
WorkingDirectory=/root
Environment=LANG=en_US.UTF-8
ExecStart=/usr/bin/tmux -u attach -t systemux
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/%I
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
Restart=always
RestartSec=0
